<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bí Kíp Cưa Cây</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>
  <head>
    <h1 class="text-primary jumbotron display-3 d-none d-md-block ">Bí Kíp Cưa Cây</h1>
  </head>
  <body>

     <h4 class="text-primary d-md-none">Cưa gái đại cương</h4>
<div class="container">


<div class="row">
  {% for girl_type in girl_type %}
  <div class="col-md-4 col-sm-6 m*-5">
    <div class="card-girl-type card mb-4">
      <img src="{{ girl_type["image"] }}" alt="{{ girl_type["name"] }}" class="card-girl-img mb-5 img-fluid card-img-top">
      <div class="card-body">
        <h3 class="text-primary card-title">{{ girl_type["name"] }}</h3>
        <h5 id = "des" class="text-danger">Description</h5>
        <p>{{ girl_type["description"] }}</p>
        </div>
        <div class="card-footer">
          <div class="clearfix">
              <button class="btn btn-primary float-right">How to "Múc"</button>
          </div>


      </div>


    </div>

  </div>





{% endfor %}
</div>
</div>


  </body>
</html>
